@model OiWeb.Entity.Product

<div class="content-wrapper">
    @RenderPage("~/Views/Shared/Breadcrumb.cshtml")        
    <section class="content container-fluid">
        <div class="row">   
            <div class="col-md-6">
                <div class="chart-box">
                    <h4><strong>@Html.Raw(Model.name)</strong></h4>
                    <p>Detalhes do produto</p>
                    <ul class="list-group">
                        <li class="list-group-item">Criado em: <strong>@Html.Raw(Model.dtCreate)</strong></li>
                        <li class="list-group-item">SKU: <strong>@Html.Raw(Model.idProduct)</strong></li>
                        <li class="list-group-item">Família: <strong>@Html.Raw(Model.ProductFamily.name)</strong></li>
                        <li class="list-group-item">Quantidade de Regionalização: <strong>@Html.Raw(Model.PriceGroups.Count())</strong></li>                     
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="chart-box">
                    <h4><strong>Grupos Vinculados</strong></h4>                   
                    <ul class="list-group">
                        @{
                            foreach (var group in Model.PriceGroups)
                            {
                                <li class="list-group-item"><a href="/Grupos/@Html.Raw(group.idPriceGroup)">@Html.Raw(group.name)</a></li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <div class="chart-box">
                    <h4>
                         Planos de @Html.Raw(Model.name)
                        <a href="/Produto/@Html.Raw(Model.idProduct)/Plano" class="btn btn-success btn-rounded">Criar novo Plano</a>
                    </h4>                    
                    @RenderPage("~/Views/Shared/Practical/DataTablePartialView.cshtml", Model)
                </div>
            </div>
        </div>
    </section>   
</div>
@*<script src="/Content/plugins/tables/dataTables.min.js"></script>
<script type="text/javascript">
    window.onload = function () {
        $('.table').DataTable({           
            "info": false
        });
    };
</script>*@