@model OiWeb.CMS.Models.CitiesViewModel

<div class="content-wrapper">
    @RenderPage("~/Views/Shared/Breadcrumb.cshtml")
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="chart-box">
                    <h4><strong>@Html.Raw(Model.groupCustomData.name)</strong></h4>
                    <p>Detalhes do grupo</p>
                    <ul class="list-group">
                        <li class="list-group-item">Criado em: <strong>@Html.Raw(Model.groupCustomData.dtCreate)</strong></li>
                        @*@{
                            var vincPage = Model.cities.Count() > 0 ? Model.cities.FirstOrDefault().GroupCustomDataPages.First().Page.name.ToString() : "Sem Vinclulos";
                        }
                        <li class="list-group-item">Página Vinculada: <strong>@Html.Raw(vincPage)</strong>*@
                        </li>                                               
                        <li class="list-group-item">Cidades com Vinculo: <strong>@Html.Raw(Model.cities.Count())</strong></li>                        
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <div class="chart-box">
                    <h4>
                        Lista de Páginas Vinculadas:
                    </h4>
                    @RenderPage("~/Views/Shared/Practical/DataTablePartialGroupCustomDataPagesView.cshtml", Model)
                </div>
            </div>           
        </div>
    </section>
</div>
<script type="text/javascript">
    window.onload = function () {
        $("table").tablesort();
    };
</script>