@model OiWeb.CMS.Models.CitiesViewModel

<div class="content-wrapper">
    @RenderPage("~/Views/Shared/Breadcrumb.cshtml")
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="chart-box">
                    <h4><strong>@Html.Raw(Model.group.name)</strong></h4>
                    <p>Detalhes do grupo</p>
                    <ul class="list-group">
                        <li class="list-group-item">Criado em: <strong>@Html.Raw(Model.group.dtCreate)</strong></li>
                        <li class="list-group-item">Produto Vinculado: <a href="/Produto/@Html.Raw(Model.group.Product.idProduct)"><strong>@Html.Raw(Model.group.Product.name) - (SKU @Html.Raw(Model.group.Product.idProduct))</strong></a></li>
                        <li class="list-group-item">Cidades com Vinculo: <strong>@Html.Raw(Model.cities.Count())</strong></li>                        
                    </ul>
                </div>
            </div>
            
            <div class="col-md-6">
                <form method="POST" enctype="multipart/form-data" action="/Grupos/Cidades">
                    <div class="chart-box">
                        <input type="hidden" name="idPriceGroup" value="@Model.group.idPriceGroup"/>

                        <input type="hidden" name="idProduct" value="@Model.group.idProduct" />
                        <h4><strong>Vincular Novas Cidades</strong></h4>

                        <div class="form-group">
                            <label for="file">Importar planilha</label>
                            <input type="file" id="file" name="file" required>

                        </div>

                        <div class="form-group ">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="isByCity" id="isDdd" value="false">
                                    Importação por DDD
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="isByCity" id="isByCity" value="true" checked>
                                    Importação por codigo da cidade
                                </label>
                            </div>

                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-12">
                <div class="chart-box">
                    <h4>
                        Lista de Planos disponíveis:                       
                    </h4>
                    @RenderPage("~/Views/Shared/Practical/DataTablePartialPlansView.cshtml", Model)
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">
    window.onload = function () {
        $("table").tablesort();
    };
</script>