@model OiWeb.Entity.PlanRegulation

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form>
    <div class="content-wrapper">
        <section class="content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="chart-box">
                            <h4>Regulamento</h4>
                            <hr />
                            <div class="row">
                                @Html.HiddenFor(model => model.idPlanRegulation)

                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label class="control-label">Grupo de Preço</label>
                                        @Html.DropDownList("idPriceGroup", new SelectList(ViewBag.Groups, "idPriceGroup", "name",Model.idPriceGroup), new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        @Html.LabelFor(model => model.name,"Nome", htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        @Html.LabelFor(model => model.link,"Link", htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.link, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label class="control-label" for="type">Tipo</label>

                                        <select class="form-control" name="type">
                                            <option value="summary" "@(Model.type == "summary" ? "seleted" : "")">Sumário </option>
                                            <option value="regulation" "@(Model.type == "regulation" ? "seleted" : "")">Regulamento </option>
                                            <option value="others" "@(Model.type == "others" ? "seleted" : "")">Outros</option>
                                            <option value="accession" "@(Model.type == "accession" ? "seleted" : "")">Contrato de Adesão</option>                                            
                                        </select>

                                    </div>
                                </div>

                                    <div class="col-md-12">
                                        <input type="submit" value="Salvar Alteração" class="btn btn-default" />
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</form>
